
.navbar-nav {
  justify-content: flex-end;
  .nav-item {
   
    margin-left: 8px;
    padding: 7px 10px 5px 14px;
    .nav-link{
      font-size: 25px;
      font-weight: 700px;
      line-height: 20px;
      text-transform: uppercase;
      color: #505353;
    }
    &:hover{
      background-color: #b2d235;
      border-radius: 19px;
    }
    &:hover a{
      color:#fff;
     }
  } 
}
  .example {
    display: flex;
    align-items: center;
    min-height: 54vh;
  }
  @media (max-width: 992px) {
    // TODO
  }
  .main-header{
  height: 150px ;
  position: fixed;
  width: 100% t;
  z-index:1000 !;
  top:0;
  }
  .header_content{
    display: flex ;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }